<h1><%= @course.title %></h1>
<p><strong>Technologies:</strong> <%= @course.technologies %></p>
<p><strong>Duration:</strong> <%= @course.duration %> minutes</p>
<p><strong>Table of Contents:</strong></p>
<p><%= @course.table_of_contents %></p>
<p><strong>Price:</strong> <%= number_to_currency(@course.price) %></p>
